<html>
  <head>
    <title>Safari Destinations - About</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <link rel="icon" type="image/png" href="/public/logo.png" sizes="32x32">
  </head>
  <body>
    <table width='100%' border='0' cellpadding="5px">
      <tr> 
      <td align='left' width='20%'> &nbsp;&nbsp; <a style="text-decoration: none;" href="/"><img width="23px" height="22px" src="/public/logo.png" alt="Logo"> &nbsp; <font style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;" size="5" color='#0d6bc3'><strong> Safari Destinations </strong></font> </a></td>    
      <td border="1px" bordercolor="#bcbcbc" align='center' width='60%'> <a style="text-decoration: none;" href="/"><font size="3" color='#0000'><strong> << &nbsp; Back Home </strong></font></a> </td>
      <td align='right' width='20%'> </td>
      </tr>
      </table>
      <hr>
    </br>

    <table width='100%' border='0' cellpadding="5px">
    <tr> 
    <td width='20%'> </td>    
    <td>


    <h2><font size="5" color='#0d6bc3'><strong> About </strong></font></h2>

    </br><font size="4" color='#0000'>

      Safari Destinations is a platform built to showcase the best travel destinations in Africa.

      The travel destinations are stored in a MongoDB Atlas Cloud Database and fetched as per user query.
      
    </br></br>

      Find the best travel destinations on the African continent.

    </br></br>

      Code Repository: <a style="text-decoration: none;" href="https://github.com/VakinduPhilliam/SafariDestinations"><font size="4" color='#0d6bc3'><strong> https://github.com/VakinduPhilliam/SafariDestinations </strong></font></a>

    </br></br>

      <p class="copyright">&copy; <script>document.write(new Date().getFullYear());</script>, Safari Destinations

    </font>
    </td>
    <td width='20%'> </td>
  </tr>
  </table>

  </br>

  </body>
</html>

